.container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.button1 {
    border-radius: 14px;
    background-color: #2CBE00;
    padding: 0px 24px;
    border: none;
    font-family: simvoni;
    font-size: 32; 	
    color: #fff;
}